<h1>Division</h1>

<div>First number</div>

<div><%= params[:first_num] %></div>

<div>Second number</div>

<div><%= params[:second_num] %></div>

<div>Result</div>

<div><%= params[:first_num].to_f / params[:second_num].to_f %></div>